.maxAndCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}


@import "./assets/variables";

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
